<section class="mh-experience">
  <div class="container">
    <div class="row">
      <div class="col-smd-12 col-md-6">
        <div class="mh-education">
          <h3>Education</h3>
          <div class="mh-education-details">

            <div class="mh-education-item" *ngFor="let even of data.education">
              <h4>{{even.title}}<a [href]="even.href">{{even.btn}}</a></h4>
              <div class="mh-eduyear">{{even.date}}</div>
              <p>{{even.content}}</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="mh-work">
          <h3>Work Experience</h3>
          <div class="mh-experience-details">

            <div class="mh-work-item" *ngFor="let even of data.experience">
              <h4>{{even.title}}<a [href]="even.href">{{even.btn}}</a></h4>
              <div class="mh-eduyear">{{even.date}}</div>
              <span>{{even.content}}</span>
              <ul class="work-reponsibility" *ngFor="let value of even.li">
                <li><i class="fa fa-tick"></i>{{value}}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>