<main>
  <header [class.sticky]="Sticky" class="header">
    <div class="wrap d-flex">
      <h1 class="logo">
        <a href=""><img src="assets/image/LOGO.png" alt=""></a>
      </h1>
      <nav class="menu">
        <ul>
          <li *ngFor="let even of header"><a [href]="even.href">{{even.title | changeLang: lang.LangObj}}</a></li>
        </ul>
      </nav>
    </div>

    <a class="sidemenu-toggler" (click)="MenuEffects('')">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div [class.active]="menu" class="sidemenu">
      <a class="close" (click)="MenuEffects('false')"></a>
      <nav>
        <ul>
          <li *ngFor="let even of header" (click)='MenuEffects("false")'>
            <a [href]="even.href">{{even.title | changeLang: lang.LangObj}}</a>
          </li>
        </ul>
      </nav>
      <footer>
        <div class="social">
          <a href=""><img src="assets/image/facebook.png" alt=""></a>
          <a href=""><img src="assets/image/ig.png" alt=""></a>
          <a href=""><img src="assets/image/phone.png" alt=""></a>
        </div>
        <div class="btn-group dropup">
          <button type="button" (click)='openLang()' class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{"Language" | changeLang: lang.LangObj}}
          </button>
          <div [class.active]="Lang" class="dropdown-menu">
            <a class="dropdown-item" (click)='ChangeLang("zh-tw")'>{{"Chinese" | changeLang: lang.LangObj}}</a>
            <a class="dropdown-item" (click)='ChangeLang("en-us")'>{{"English" | changeLang: lang.LangObj}}</a>
            <a class="dropdown-item" (click)='ChangeLang("en-jp")'>{{"Japanese" | changeLang: lang.LangObj}}</a>
            <a class="dropdown-item" (click)='ChangeLang("en-ta")'>{{"Thai" | changeLang: lang.LangObj}}</a>
          </div>
        </div><br>
        <p>
          {{"2020-2021, Made with love by" | changeLang: lang.LangObj}}
          <a href="">Nains</a> {{"Designers" | changeLang: lang.LangObj}}
        </p>
      </footer>
    </div>
  </header>
</main>
<br><br><br><br><br>
<app-home></app-home>
<br id="about"><br><br><br><br>
<app-about></app-about>
<br id="mh-service"><br><br><br><br>
<app-development></app-development>
<br id="mh-skills"><br><br><br><br>
<app-skills_chart></app-skills_chart>
<br id="mh-experience"><br><br><br><br>
<app-education></app-education>
<br id="mh-portfolio"><br><br><br><br>
<app-portfolio></app-portfolio>
<br id="pricing"><br><br><br><br>
<app-pricing></app-pricing>
<br id="mh-blog"><br><br><br><br>
<app-blog></app-blog>
<footer class="Indexfooter">
  Copyright &copy; 2021 <a href="">Nains.</a> {{"All rights reserved." | changeLang: lang.LangObj}}
</footer>