<main>
  <header [class.sticky]="Sticky" class="header">
    <div class="wrap d-flex">
      <h1 class="logo">
        <a href=""><img src="assets/image/LOGO.png" alt=""></a>
      </h1>
      <nav class="menu">
        <ul>
          <li *ngFor="let even of header"><a href="">{{even}}</a></li>
        </ul>
      </nav>
    </div>

    <a *ngIf="Sticky" class="sidemenu-toggler" (click)="MenuEffects()">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div [class.active]="menu" class="sidemenu">
      <a class="close" (click)="MenuEffects()"></a>
      <nav>
        <ul>
          <li *ngFor="let even of header"><a href="">{{even}}</a></li>
        </ul>
      </nav>
      <footer>
        <div class="social">
          <a href=""><img src="assets/image/facebook.png" alt=""></a>
          <a href=""><img src="assets/image/ig.png" alt=""></a>
          <a href=""><img src="assets/image/phone.png" alt=""></a>
        </div>
        <p>2020-2021, Made with love by <a href="">Nains</a> Designers</p>
      </footer>
    </div>
  </header>
</main>