<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/image/AboutMe.png" alt="">
      </div>
      <div class="col-md-5 text-white gap">
        <br><br><br><br>
        <h2>About Me</h2>
        <br>
        <p>
          Our daily mission : find and showcase the best web design inspirations and
          trends. Every day, we publish fresh and creative new websites ideas made by
          creative agencies and web designers from all over the world.
        </p>
        <br>
        <div class="tag">
          <ul>
            <li><span>Html</span></li>
            <li><span>CSS</span></li>
            <li><span>Javascript</span></li>
            <li><span>Angular</span></li>
            <li><span>PHP</span></li>
            <li><span>Google Ads</span></li>
            <li><span>SEO</span></li>
          </ul>
        </div>
        <br>
        <div class="download-button">
          <a class="btn btn-danger">Download CV</a>
        </div>
      </div>
    </div>
  </div>
</section>