<section class="mh-service text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>What I do</h3>
      </div>

      <div [ngClass]="{'scrollbx-r': i == 2, 'scrollbx-b': i == 1, 'scrollbx-l': i == 0}"
        [class.active]="scroll.ScrollBox.development[0]" class="col-sm-4" *ngFor="let even of data[0];let i = index">
        <div class="mh-service-item">
          <i [class]="even.style"></i>
          <h3>{{even.name}}</h3>
          <p>{{even.content}}</p>
        </div>
      </div>

    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div [ngClass]="{'scrollbx-r': i == 2, 'scrollbx-b': i == 1, 'scrollbx-l': i == 0}"
        [class.active]="scroll.ScrollBox.development[1]" class="col-sm-4" *ngFor="let even of data[1];let i = index">
        <div class="mh-service-item">
          <i [class]="even.style"></i>
          <h3>{{even.name}}</h3>
          <p>{{even.content}}</p>
        </div>
      </div>

    </div>
  </div>
</section>