<section class="mh-service text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>What I do</h3>
      </div>

      <div class="col-sm-4">
        <div class="mh-service-item">
          <i class="fa fa-bullseye purple-color"></i>
          <h3>Html & CSS</h3>
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own
            components and use a wide array of existing components. Get immediate Angular-specific help and feedback
            with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather
            than trying to make the code work.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="mh-service-item">
          <i class="fa fa-code iron-color"></i>
          <h3>Javascript</h3>
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own
            components and use a wide array of existing components. Get immediate Angular-specific help and feedback
            with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather
            than trying to make the code work.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="mh-service-item">
          <i class="fa fa-object-ungroup purple-color"></i>
          <h3>Angular</h3>
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own
            components and use a wide array of existing components. Get immediate Angular-specific help and feedback
            with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather
            than trying to make the code work.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="mh-service-item">
          <i class="fa fa-bullseye purple-color"></i>
          <h3>PHP</h3>
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own
            components and use a wide array of existing components. Get immediate Angular-specific help and feedback
            with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather
            than trying to make the code work.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="mh-service-item">
          <i class="fa fa-code iron-color"></i>
          <h3>Google Ads</h3>
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own
            components and use a wide array of existing components. Get immediate Angular-specific help and feedback
            with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather
            than trying to make the code work.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="mh-service-item">
          <i class="fa fa-object-ungroup purple-color"></i>
          <h3>SEO</h3>
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own
            components and use a wide array of existing components. Get immediate Angular-specific help and feedback
            with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather
            than trying to make the code work.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>