<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-white text-left">
        <h3>Pricing Table</h3>
      </div>
      <br><br><br><br><br>
      <div class="pricing dark-bg">
        <i class="fa fa-calendar"></i>
        <h4>Full-time work</h4>
        <p>I am available for full time</p>
        <h5>$45000</h5>
        <ul>
          <li>Web Development</li>
          <li>Advertising</li>
          <li>Game Development</li>
          <li>Music writing</li>
        </ul>
        <a href="" class="btn btn-fill"></a>
      </div>
    </div>
  </div>
</section>