<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-white text-left">
        <h3>Pricing Table</h3>
      </div>
      <br><br><br><br><br>
      <div class="col-md-4">
        <div class="pricing dark-bg">
          <i class="fa fa-calendar"></i>
          <h4>Full-time work</h4>
          <p>I am available for full time</p>
          <h5>$45000</h5>
          <ul>
            <li>Web Development</li>
            <li>Advertising</li>
            <li>Game Development</li>
            <li>Music writing</li>
          </ul>
          <a href="" class="btn btn-fill">Hire me</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pricing dark-bg">
          <i class="fa fa-file"></i>
          <h4>Fixed Price Project</h4>
          <p>I am available for fixed roles</p>
          <h5>$45000</h5>
          <ul>
            <li>Web Development</li>
            <li>Advertising</li>
            <li>Game Development</li>
            <li>Music writing</li>
          </ul>
          <a href="" class="btn btn-fill">Hire me</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pricing dark-bg">
          <i class="fa fa-calendar"></i>
          <h4>Hourly Work</h4>
          <p>I am available for Hourly Project</p>
          <h5>$1500</h5>
          <ul>
            <li>Web Development</li>
            <li>Advertising</li>
            <li>Game Development</li>
            <li>Music writing</li>
          </ul>
          <a href="" class="btn btn-fill">Hire me</a>
        </div>
      </div>

    </div>
  </div>
</section>