<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-white text-left">
        <h3>Pricing Table</h3>
      </div>
      <br><br><br><br><br>

      <div *ngFor="let even of data" class="col-md-4">
        <div class="pricing dark-bg">
          <i [class]="even.style"></i>
          <h4>{{even.title}}</h4>
          <p>{{even.content}}</p>
          <h5>$ {{even.price}}</h5>
          <ul>
            <li *ngFor="let value of even.work">{{value}}</li>
          </ul>
          <a href="" class="btn btn-fill">Hire me</a>
        </div>
      </div>

    </div>
  </div>
</section>