<section class="mh-portfolio">
  <div class="container">
    <div class="row">
      <div class="section-title col-sm-12">
        <h3>Recent Portfolio</h3>
      </div>
      <br><br><br><br><br>
      <div class="part col-sm-12">
        <div class="col-sm-12 portfolio-nav" id="filter-button">
          <ul [class.active]="scrollBox[0]" class="scroll-big-header">

            <li class="MarginBT" *ngFor="let even of data.title" [class.current]="header == even.value"
              (click)="check(even.value)">
              <span>{{even.title}}</span>
            </li>

          </ul>
        </div>

        <div class="mh-project-gallery col-sm-12" id="mh-project-gallery">
          <div [class.active]="scrollBox[1]" class="portfolioContainer row scroll-tr">

            <div #ScrollBox *ngFor="let even of data.content" [class]="even.filter + ' col-md-4 grid-item'">
              <figure>
                <img [src]="even.image" alt="">
                <figcaption class="fig-caption">
                  <i class="fa fa-search"></i>
                  <h5 class="title">{{even.title}}</h5>
                  <span class="sub-title">{{even.subtitle}}</span>
                </figcaption>
              </figure>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>