<section class="mh-skills">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="mh-skills-inner">
          <div class="mh-professional-skill">
            <h3> Technical Skills</h3>

            <div #ScrollBox [class.active]="scrollBox" class="each-skills scroll-ro-l">

              <div class="candidatos" *ngFor="let even of data.line">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">{{even.name}}</div>
                    <div class="percentage-num">{{even.num}}</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" [style.width.%]="even.style"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="mh-professional-skills">
          <h3>Professional Skills</h3>
          <ul [class.active]="scrollBox" class="mh-professional-progress scroll-ro-r">

            <!-- <li *ngFor="let even of data.circle">
              <div class="mh-progress mh-progress-circle" [attr.data-progress]="even.progress"></div>
              <div class="pr-skill-name">{{even.name}}</div>
            </li> -->

            <li>
              <div class="mh-progress mh-progress-circle" data-progress="95"></div>
              <div class="pr-skill-name">Communcation</div>
            </li>

            <li>
              <div class="mh-progress mh-progress-circle" data-progress="55"></div>
              <div class="pr-skill-name">Team Work</div>
            </li>

            <li>
              <div class="mh-progress mh-progress-circle" data-progress="86"></div>
              <div class="pr-skill-name">Project Management</div>
            </li>

            <li>
              <div class="mh-progress mh-progress-circle" data-progress="95"></div>
              <div class="pr-skill-name">Creativity</div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>