<section class="mh-skills">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="mh-skills-inner">
          <div class="mh-professional-skill">
            <h3> {{"Technical Skills" | changeLang: lang.LangObj}}</h3>

            <div #ScrollBox [class.active]="scrollBox" class="each-skills scroll-ro-l">

              <div class="candidatos" *ngFor="let even of data.line">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">{{even.name}}</div>
                    <div class="percentage-num">{{even.num}}</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" [style.width.%]="even.style"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="mh-professional-skills">
          <h3>{{"Professional Skills" | changeLang: lang.LangObj}}</h3>
          <ul [class.active]="scrollBox" class="mh-professional-progress scroll-ro-r">

            <li>
              <div id="circle" class="mh-progress mh-progress-circle">
                <span class="circle-parent">95%</span>
              </div>
              <div class="pr-skill-name">{{"Communcation" | changeLang: lang.LangObj}}</div>
            </li>

            <li>
              <div id="circle1" class="mh-progress mh-progress-circle">
                <span class="circle-parent">49%</span>
              </div>
              <div class="pr-skill-name">{{"Team Work" | changeLang: lang.LangObj}}</div>
            </li>

            <li>
              <div id="circle2" class="mh-progress mh-progress-circle">
                <span class="circle-parent">86%</span>
              </div>
              <div class="pr-skill-name">{{"Project Management" | changeLang: lang.LangObj}}</div>
            </li>

            <li>
              <div id="circle3" class="mh-progress mh-progress-circle">
                <span class="circle-parent">72%</span>
              </div>
              <div class="pr-skill-name">{{"Creativity" | changeLang: lang.LangObj}}</div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>