<section class="mh-blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Featured Posts</h3>
      </div>
      <br><br><br><br>

      <div #test [ngClass]="{'scroll-bigrun-r': i == 2, 'scroll-bigrun-b': i == 1, 'scroll-bigrun-l': i == 0}"
        [class.active]="scrollBox" *ngFor="let even of data; let i = index" class="col-md-4">
        <div class="mh-blog-item dar-bg">
          <img [src]="even.image" alt="" class="img-fluid">
          <div class="blog-inner">
            <h2><a href="">Google Starts crawl</a></h2>
            <br>
            <div class="mh-blog-post-info">
              <ul>
                <li>Post on <a href="">{{even.date}}</a></li>
                <li>Post <a href="">{{even.name}}</a></li>
              </ul>
            </div>
            <p>{{even.content}}</p>
            <a href="">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>