@media (max-width: 767px) {
  .header .sidemenu {
    width: 100%;
  }
  .header .sidemenu nav a {
    font-size: 1rem;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .header .sidemenu {
    width: 70%;
  }
  .header .sidemenu nav a {
    font-size: 1.2rem;
  }
}

@media (max-width: 1199px) {
  .header .menu {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  width: 10px;
  background: #212529;
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;
}
::-webkit-scrollbar-thumb {
  background: #3bb78f;
  width: 0;
  height: 35%;
  transition: 0.5s ease;
  cursor: pointer;
}

@keyframes animationProgress {
  from {
    width: 0;
  }
}
