<section class="home container text-white">
  <div class="row">
    <div class="col-md-6">
      <div class="hero-text">
        <span class="title">Hello I`m</span><br>
        <span class="name">Nains</span><br>
        <span class="designation">FrontEnd Web Designer</span><br>
        <span class="email"><i class="fa fa-envelope"></i> cnm30678@gmail.com</span><br>
        <span class="phone"><i class="fa fa-phone"></i> 0204-882956</span>
        <div class="social-icons d-flex">
          <li><i class=" fa fa-facebook"></i></li>
          <li><i class=" fa fa-twitter"></i></li>
          <li><i class=" fa fa-linkedin"></i></li>
          <li><i class=" fa fa-instagram"></i></li>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="hero-img">
        <div class="img-border">
          <img src="assets/image/1.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>